<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loadster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA6D71931F58D90700C34E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6D71AA1F58D90700C34E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6D71B51F58D90700C34E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
